@import 'dark-theme', 'light-theme';

body
    font-family: 'Abel';
    
    .container 
        h1
            text-transform: uppercase;
            letter-spacing: -1px;
            font-family: 'Lexend Deca';
        p
            font-weight: 300;